@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Playfair Display', serif;
    background-color: #121212; /* Fondo oscuro */
    color: #ffffff; /* Texto blanco */
    overflow: hidden; /* Elimina las barras laterales */
    display: flex;
    flex-direction: column;
}

.header-bar, .footer-bar {
    background-color: #ffffff; /* Barras blancas */
    color: #121212; /* Texto negro */
    border-bottom: 2px solid #121212; /* Línea divisoria negra */
    text-align: center;
    padding: 5px 0; /* Menos espacio en el header */
}

header h1 {
    font-size: 1.5em; /* Título más pequeño */
    margin: 5px 0; /* Espacio reducido entre título y margen */
}

header .slogan {
    font-size: 0.8em; /* Texto más pequeño */
    color: #333333;
}

footer {
    text-align: center;
    font-size: 0.8em; /* Tamaño de texto reducido */
}

.container {
    display: flex;
    height: calc(100vh - 120px); /* Ajusta el tamaño del main para incluir header y footer */
    margin-top: 10px; /* Espacio superior para la barra divisoria */
}

.left-section, .right-section {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left-section {
    background-color: #1f1f1f;
    margin-top: 10px; /* Espacio entre el borde superior y la barra lateral */
}

.right-section {
    background-color: #1f1f1f;
    margin-top: 10px; /* Espacio para mantener simetría */
}

.divider {
    width: 2px;
    background-color: #ffffff;
    margin: 0 10px; /* Espacio entre el margen y la barra */
}

.horizontal-divider {
    height: 2px;
    background-color: #ffffff; /* Barra horizontal */
    margin: 20px 0;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

select, input[type="file"] {
    width: 100%;
    padding: 10px;
    background-color: #333333;
    color: #ffffff;
    border: none;
    border-radius: 5px;
}

button {
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
    color: #121212;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #cccccc;
}

.result img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 5px;
}

.footer-bar p {
    margin: 0;
    font-size: 0.8em; /* Texto reducido */
    color: #121212; /* Texto negro */
}

